
body {
    background-color: rgb(204, 204, 204);
  }
  
  h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: sans-serif;
    background-color: rgb(10, 164, 195);
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }

  img {
    border-radius: 30%;
    color: #a31f98;
  }


  button {
    color: #ffffff;
    background-color: #e93c61;
    font-size: 15px;
    padding: 15px 50px;
    cursor: pointer
}
button:hover {
    color: #2d63c8;
    background-color: #ffffff;
}